.cl-blue {
  background-color: lightblue;
}

.mar01 {
  margin: 10px;
  padding: 10px;
}

.block01 {
  background-color: blue;
  display: inline;
  height: 100px;
  width: 200px;
  margin: 20px;
}

.block02 {
  background-color: red;
  display: inline-block;
  height: 100px;
  width: 200px;
  margin: 20px;
}

.block03 {
  background-color: red;
  display: inline-block;
  height: 100px;
  width: 200px;
  margin: 20px;
}
