.cl-blue {
  background-color: lightblue;
}

.mar01 {
  margin: 10px;
  padding: 10px;
}

.block01 {
  background-color: red;
  height: 300px;
  width: 300px;
  position: relative;
  top: 100px;
}

.block02 {
  background-color: blue;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50px;
  left: 50px;
}

.block03 {
  background-color: yellow;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}
