.cl-blue {
  background-color: lightblue;
}

.mar01 {
  margin: 10px;
  padding: 10px;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
}

h2 {
  margin: 0;
}

.block01 {
  background-color: red;
  height: 300px;
  width: 300px;
}

.block02 {
  background-color: blue;
  height: 100px;
  width: 100px;
  float: right;
}

.block03 {
  background-color: yellow;
  height: 100px;
  width: 100px;
}
